@model Entity_Layer.AdminsModel

@{
    ViewData["Title"] = "Signup";
}

<h4>Signup</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Signup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userid" class="control-label">UserId</label>
                <input asp-for="userid" class="form-control" required />
                <span asp-validation-for="userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="first_name" class="control-label">First Name</label>
                <input asp-for="first_name" class="form-control" required />
                <span asp-validation-for="first_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="last_name" class="control-label">Last Name</label>
                <input asp-for="last_name" class="form-control" required />
                <span asp-validation-for="last_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Password</label>
                <input asp-for="password" class="form-control" required />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirm_password" class="control-label">Confirm Password</label>
                <input asp-for="confirm_password" class="form-control" required />
                <span asp-validation-for="confirm_password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">Email</label>
                <input asp-for="email" class="form-control" required />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label asp-for="address" class="control-label">Address</label>
                <input asp-for="address" class="form-control" required/>
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone_number" class="control-label">Phone Number</label>
                <input asp-for="phone_number" class="form-control" required />
                <span asp-validation-for="phone_number" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Role" class="control-label">Role</label>
                <select asp-for="Role" class="form-control" required>
                    <option value="Admin">Admin </option>
                    <option value="Customer">Customer </option>
                </select>
            </div>
            <div class="form-group">              
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
           
        </form>
    </div>
</div>


<div>
    <a asp-action="SigninUser">Back to SignIn</a>
</div>

